
.profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  
  .prof-card-mob {
    display: flex;
    row-gap: 2px;
    background-color: white;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  
  .user-info-mob {
    flex-grow: 0.7;
    padding: 10px;
  
    border-left: 1px solid #f7ebeb;
  }
  #username {
    font-size: 0.9em;
  }
  
  #removeprofile {
    bottom: 35px;
    position: relative;
    height: 20px;
  }
  
  .btn-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  
  #update-btn a {
    text-decoration: none;
    color: black;
  }
  
  #update-btn {
    border-radius: 1rem;
  }
  
  #update-btn :hover {
    color: rgb(247, 247, 247) !important;
  }
  
  .profile-image-mob {
  
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  
  }
  
  #bio {
    font-size: 0.9em;
  }
  #userinfotab {
    display: none;
  }
  
  #username {
    color: #b5bcc3;
  }
  
  #image-section{
    padding-left: 5px;
  }
  
  @media only screen and (max-width: 900px) {
    #userinfotab {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 680px) {
    .profile-image-mob {
      width: 30%;
    }
  }